.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.size-box-container {
  background-color: #e2e2e2;
  height: auto;
  width: 90vw;
  border-radius: 15px;
  padding: 1px 20px .6rem !important;
  margin-bottom: 10px;
  text-align: left;
}

.size-box-content{
  background-color: #fff;
  border-radius: 15px;
  padding: 5px;
}

.button{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.button h3 {
  margin-right: 5px;
}

h3 {
  margin: .6rem !important;
}

.size-img{
  width: 5rem;
  height: 5vh;
}