.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.size-box-container {
  background-color: #e2e2e2;
  height: auto;
  width: 100%;
  border-radius: 15px;
  padding: 10px 20px  !important;
  margin-bottom: 10px;
  text-align: left;
}

.size-box-content{
  background-color: #f2f2f2;
  border-radius: 15px;
  padding: 1rem;
}

.button{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

h5{
  margin: 5px !important;
}

.size-img{
  width: 10rem;
  height: auto;
  border-radius: 5px;
}

p {
  margin-bottom: 10px !important;
}

.dropdown{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 2rem;
  margin-right: 0 !important;
  
}

.dropdown-toggle{
  box-shadow: 1px 2px 10px #888888;
}
